header {
	background: #7e56c1;
	height: 65px;
	width: 100%;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
}

.gameblock {
	border: 5px solid red;
	border-radius: 30px;
	color: blue;
}

.gameblock img {
	float: left;
	width: 100px;
	height: 100px;
}